spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    active: ${APP_ENV:development}
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5436/fsms}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:secret}
  jpa:
    open-in-view: false
#  mail:
#    host: ${MAIL_HOST:localhost}
#    port: ${MAIL_PORT:1025}
#    username: ${MAIL_USERNAME:mailhog}
#    password: ${MAIL_PASSWORD:null}
#    from_address: ${MAIL_NOREPLY:no-reply@fsms.co.mz}
#    from_name: ${MAIL_FROMNAME:Gestão de cadeia de suplementos agricolas}
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
  mail:
    host: ${MAIL_HOST:smtp-mail.outlook.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:joelaugusto97@hotmail.com}
    password: ${MAIL_PASSWORD:@ugu$t01}
    from_address: ${MAIL_NOREPLY:joelaugusto97@hotmail.com}
    from_name: ${MAIL_FROMNAME:Gestão de cadeia de suplementos agricolas}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

    sms:
      twilio:
        phone_number: ${TWILIO_PHONE_NUMBER}
        account_sid: ${TWILIO_SID}
        auth_token: ${TWILIO_TOKEN}
  flyway:
    locations: classpath:/db/migrations, classpath:/db/seeds
    clean-on-validation-error: true

baseURL: http://localhost:3000/
auth:
  jwt-secret: IYU908m141ujgk2pYQdAqHgwEuZ5HGmK
  jwt-password-reset: WO2Wckb5AeaIhU4hXvyTVuS1kYPPSgg6
